* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 140%;
}

.container {
	width: 70%;
	margin: 10% auto;
	border: 1px solid black;
	position: relative;
}

/*====================================
Header
====================================*/


header {
	border: 2px solid black;
}

header div {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.left {
	border: 2px solid black;
	border-width: 0px 3px 0px 0px;
	padding: 0% 6%;
	width: 28%;
	height: 146px;
}

.left img {
	width: 90%;
}

.right {
	width: 71.9%;
	margin-left: -0.5%;
	height: 146px;
}

.right img {
	margin-top: 2%;
	position: relative;
	left: -6%;
	width: 216px;
}

.right span {
	display: block;
	font-size: 3.5em;
	position: relative;
	left: -3%;
	top: -8%;
}

/*====================================
Animation
====================================*/

.anim {
	-webkit-transition: 2s linear all;
	-o-transition: 2s linear all;
	transition: 2s linear all;
	position: absolute;
	width: 100%;
}

.anim.ng-hide-add {
	transform: scaleY(1) scaleX(1);
}

.anim.ng-hide-add-active {
	transform: scaleY(0) scaleX(0);
}

.anim.ng-hide-remove {
	transition-delay: 2s;
	transform: scaleY(0) scaleX(0);
}

.anim.ng-hide-remove-active {
	transform: scaleY(1) scaleX(1);
}

.errorMessage {
	-webkit-animation:  showError 5s infinite linear alternate;
	animation: showError 5s infinite linear alternate;
}

@keyframes showError {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes showError {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

/*====================================
Input Div
====================================*/


.input-div>span {
	display: block;
	text-align: left;
	padding-left: 8%;
	margin-top: 5%;
	font-size: 2.4em;
}

.input-div form {
	padding: 1% 11%;
	padding-bottom: 12%;
	text-align: center;
	/*border-bottom: 1px solid black;*/
}

input {
	padding: 1% 6%;
	text-align: center;
	width: 60%;
	float: right;
	margin-top: -10px;
}

.genderApply {
	margin-left: 30px;
	border: 1px solid black;
	border-radius: 15px;
	padding: 6px 40px;
	box-shadow: 1px 3px 3px;
	position: relative;
}

.genderApply:hover {
	cursor: pointer;
}

.genderApply:active {
	box-shadow: 1px 2px 3px;
	top: 1px;
	left: 1px;
}

.input-div input[type='submit'] {
	margin-top: 30px;
}

label {
	display: block;
	clear: both;
	padding-top: 30px;
	text-align: left;
}

label:last-child input {
	margin-top: -18px;
}

select {
	margin-left: 30px;
	padding: 5px;
	border-radius: 15px;
	padding-left: 35px;
}

select:focus {
	outline: none;
}

form div {
	margin-top: 30px;
	text-align: left;
	color: red;
	font-size: 1.2em;
}


/*====================================
Output Div
====================================*/

h1 {
	text-align: center;
	margin: 0px;
}

.output-div {
	padding: 5%;
}

p {
	font-size: 1.7em;
	text-align: justify;
}

.placeholder {
	text-decoration: underline;
}