* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 70%;
	margin: 10% auto;
	border: 1px solid black;
}

/*====================================
Header
====================================*/


header div {
	display: inline-block;
	text-align: center;
	border: 2px solid black;
	vertical-align: top;
}

.left {
	padding: 0% 6%;
	width: 28%;
	height: 146px;
}

.left img {
	width: 90%;
	margin-top: 6%;
}

.right {
	width: 71.9%;
	margin-left: -0.5%;
	height: 146px;
}

.right img {
	margin-top: 2%;
	position: relative;
	left: -6%;
	width: 216px;
}

.right span {
	display: block;
	font-size: 3.5em;
	position: relative;
	left: -3%;
	top: -8%;
}

/*====================================
Input Div
====================================*/
.input-div, .output-div {
	-webkit-transition: 1s linear all;
	-o-transition: 1s linear all;
	transition: 1s linear all;

}

.ng-hide-add, .ng-hide-remove {
	display: block !important;
	/*opacity: 1;*/
}

.ng-hide {
	opacity: 0;
}

.ng-hide-remove {
	-webkit-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

/*hideEvent ng-hide-add ng-hide-add-active ng-hide
!showEvent

!hideEvent ng-hide-remove ng-hide-remove-active !ng-hide
showEvent*/

.input-div>span {
	display: block;
	text-align: left;
	padding-left: 8%;
	margin-top: 5%;
	font-size: 2.4em;
}

.input-div form {
	padding: 1% 11%;
	padding-bottom: 12%;
	text-align: center;
	border-bottom: 1px solid black;
}

input {
	padding: 1% 6%;
	text-align: center;
	width: 60%;
	float: right;
	margin-top: -10px;
}

.genderApply {
	margin-left: 30px;
	border: 1px solid black;
	border-radius: 15px;
	padding: 6px 40px;
	box-shadow: 1px 3px 3px;
	position: relative;
}

.genderApply:hover {
	cursor: pointer;
}

.genderApply:active {
	box-shadow: 1px 2px 3px;
	top: 1px;
	left: 1px;
}

.input-div input[type='submit'] {
	margin-top: 30px;
}

label {
	display: block;
	clear: both;
	padding-top: 30px;
	text-align: left;
}

label:last-child input {
	margin-top: -18px;
}

select {
	margin-left: 30px;
	padding: 5px;
	border-radius: 15px;
	padding-left: 35px;
}

select:focus {
	outline: none;
}

form div {
	margin-top: 30px;
	text-align: left;
	color: red;
	font-size: 1.2em;
}

/*====================================
Output Div
====================================*/

h1 {
	text-align: center;
	margin: 0px;
}

.output-div {
	padding: 5%;
}

p {
	font-size: 1.7em;
	text-align: justify;
}

.placeholder {
	text-decoration: underline;
}